*{
	margin: 0;
}
@font-face{
	font-family: customfont;
	src: url(../kindergarten/kindergarten.woff);
	/*src: url(../font-awesome/fonts/fontawesome-webfont.woff);*/

}
body{
	font-family: customfont;
}
header{
	background-color: #34495e;
	color: #FFF;
	padding: 100px;
	text-align: center;
}
.skills{
	background-color: #ffffff;
	padding: 50px;
	text-align: center;
}
header>div.sosmed{
	float: right;
	padding-top: 20px;
	margin-top: -100px;
	margin-right: -60px;
}
header>div.sosmed>ul>li{
	list-style: none;
	display: inline-block;
}
.fa{
	display: inline-block;
	color: white;
	padding: 5px;
}
